@model JonDJones.com.Core.ViewModel.Blocks.DonutTwoExampleBlockViewModel
@using JonDJones.Com.DonutHoleCaching


<p class="DonutHole">
    Donut Two, not cached at all
    <br />
    Generated at : @Model.TheTime
</p>
