@model JonDJones.com.Core.ViewModel.Blocks.DonutExampleBlockViewModel
@using JonDJones.com.Core.Donut

<p class="DonutHole">
    Donut One cached at: @Model.TheTime (expires every 60 seconds)
</p>
<div>

    @foreach(var content in Model.Content)
    {
        Html.DonutForContent(content);
    }
</div>
